html {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 28px;
}

body {
    background-color: white;
    /*background: rgb(37, 201, 71);*/
    /*background: linear-gradient(0deg, rgba(37, 201, 71, 0.8197872899159664) 0%, rgba(66, 249, 255, 0) 47%, rgba(49, 161, 231, 0.836594012605042) 100%);*/
}

.block {
    display: block;
    border-radius: 3px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 80px;
    background-color: whitesmoke;
}

.block > p {
    margin-left: 125px;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .block {
        margin-left: 0;
        margin-right: 0;
    }
}

.block-1 {
    min-height: 100px;
}

.block-1 div {
    min-height: 100px;
}

.block-1 .block-caption {
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 125px;
}

.block-1 .main-photo {
    border-radius: 10%;
    float: left;
    margin-right: 15px;
    width: 100px;
}


@keyframes color-change1 {
    0% {
        background-color: #31a1e7;
    }
    50% {
        background-color: #f9a3a3;
    }
    100% {
        background-color: #31a1e7;
    }
}

@keyframes color-change2 {
    0% {
        background-color: #f9a3a3;
    }
    50% {
        background-color: #31a1e7;
    }
    100% {
        background-color: #f9a3a3;
    }
}

.block-banner {
    color: white;
}


.block-caption {
    margin-top: 0;
    margin-bottom: 10px;
}

.inline-icon {
    height: 16px;
}

a {
    text-decoration: none;
}

a.no-decorated-link {
    text-decoration: none;
    color: black;
}


.gently-decorated-link a,
a.gently-decorated-link {
    /*text-decoration: none;*/
    color: grey;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    /*noinspection CssInvalidPropertyValue*/
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

